@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Centering content in a flex-y way */

.section-outer {
    display: flex;
    justify-content: center;
}

.header, .hero-container {
    flex-basis: 1400px;
}

/* Colours */

.background-dark {
    background-color: #1F2937;
}

.background-action {
    background-color: #3882F6;
}

.background-light {
    background-color: #E5E7EB;
}

/* Button */

button {
    cursor: pointer;
    padding: 6px 32px;
    border-radius: 8px;
    color: white;
    border: none;
    font-size: 16px;
    margin: 0;
}

/* Header */ 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.header h2 {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: end;
    gap: 24px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Hero section */

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 24px;
    gap: 16px;
}

.hero-message {
    flex-basis: 700px;
}

.hero-container h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-container p {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 8px 0;
}

.hero-image-container {
    background-color: #929394;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 700px;
    border-radius: 8px;
}

.hero-image {
    color: #F9FAF8;
    text-align: center;
}