@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.content-container {
    flex-basis: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 48px;
}